{% extends "base.html" %}
{% block title %}Edit Album{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/home">Home</a>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Album</h2>
    <form method="post">
        <label for="photo">Photo URL:</label>
        <input name="photo" id="photo" type="url" value="{{album.photo}}" class="form-control"><br>
        <label for="title">Title:</label>
        <input name="title" id="title" type="text" value="{{album.title}}" class="form-control"><br>
        <label for="year">Year:</label>
        <input name="year" id="year" type="number" value="{{album.year}}" class="form-control"><br>
        <label for="year">Description:</label>
        <input name="description" id="description" type="text" value="{{album.description}}" class="form-control"><br>
        <input class="btn btn-success" type="submit" id="send" value="Update">
    </form>
</div>
{% endblock %}

