{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/home">Home(current)</a>
          <a class="nav-item nav-link" href="/logout">Logout</a>
          <a class="nav-item nav-link" href="/Albums">Albums</a>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Home</h1>
            <p>Home page</p>
        </div>
    </div>
</div>

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia incidunt laudantium ipsum praesentium ullam beatae debitis explicabo voluptatum doloribus! Perspiciatis voluptates qui hic illo itaque, nulla quae ullam porro minima.

{% endblock %}